<h2>更新个人信息</h2>

<%= form_for(resource, :as => resource_name, :url => info_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :pet_name %> <br />
  <%= f.text_field :pet_name %></div>

  <div><%= f.label :des %><br />
  <%= f.text_field :des %></div>

  <div><%= f.label :sex %><br />
  <%= f.text_field :sex %></div>

  <div><%= f.submit "Update" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>